
body {
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    height: 100%;
}


.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}


/*HEADER*/

.box1 {
    height: 100vh;
    width: 100%;
    background-image: url(back.jpg);
    background-size: cover;
    background-position: center;
}

.container {
	display: flex;
 	align-items: center;
 	justify-content: center;
 	flex-direction: column;
}

.header {
	max-width: 50%
	font-size: 10px;
	color: #E6E8FA;
	font-family: sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-weight: 100;
	margin-bottom: 150px;
	font-size: .9em;

}

.btn, .btn-2, .sub-btn {
	font-size: .5em;
	font-family: sans-serif;
		
}

.btn-2 {
	background-color: rgba(0,255,0,0.0);
	border: 2px solid #E6E8FA;
	color: #E6E8FA;
	padding: 10px;
	margin-top: 10px;
}


/*NAV*/

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: .9em;
    font-family: sans-serif;
    margin: 0px;
    color: #fff;
    width: 100%;
}


a {
    text-decoration: none;
    color: white;
}

li {
    padding: 3px;
    margin: 10px;

}

.push {
    margin-left: auto;
}


/*PROJECT GRID*/

.box2 {
    height: 100vh;
    width: 100%;
    background-image: url(back2.jpg);
    background-size: cover;
    background-position: center;
}


.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, .5fr));
    grid-gap: 7px;
    height: 100vh;
    width: 100%;
}

.box > img{
   width: 8.5vw;
}

.box {
    padding: 50px;
    background-color: rgba(0,0,0,.0);
    margin: 20px;
    transition: transform 1s;
}


/*COVER*/

.box3 {

    background-image: url(back1.jpg);
    background-size: cover;
    background-position: center;
    
}
.main-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
}


/*Footer*/

.footer {
    text-align: center;
    font-size: .8em;
    color: white;
    font-family: sans-serif;
    background-color: black;

}

.box:hover {
    transform: scale(1.5);
}


.zone {
   
    text-align: center;
}

@media (min-width: 320px) and (max-width: 480px) {
    .main-nav {
        font-size: .9em;
        width: 100%;
        padding: 1px;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
}

    .push {
        margin: auto;
    }

    .grid-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(120px, .5fr));
        grid-gap: 7px;
        height: 100vh;
        width: 100vw;
    }


}




